body{
    background-image: linear-gradient(to left bottom,rgb(237, 189, 197),rgb(214, 209, 209));
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    text-align: center;
}
.form{
    padding-top: 70px;
}
.input label{
    font-weight: bold;
    padding-left: 40px;
}

.input select, input{
    padding: 5px 7px;
    background-color: transparent;
    border: 2px solid rgb(126, 67, 235);
    border-radius: 10px;
}
button{
    margin-left: 20px;
    padding: 5px 20px;
    font-weight: bold;
    background-color: rgb(126, 67, 235);
    border: 2px solid, rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    transform: scale(1);
    box-shadow: 0 0 8px rgb(126, 67, 235);
}
input[type="text"]:hover, input[type="number"]:hover, input[type="date"]:hover {
    border-color: rgb(126, 67, 235); /* Change border color on hover */
    box-shadow: 0 0 8px rgb(126, 67, 235); /* Add subtle shadow effect */
}

.expenselist{
    margin: 20px 20px 20px 0px;
}
.expenselist h2{
    margin-top: 50px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid #121212;
    padding: 8px;
    text-align: left;
}
th{
    background-color: rgb(233, 121, 199);
}
tfoot td{
    font-weight: bold;
}
.deletebtn{
    padding: 5px 10px;
    background-color: orangered;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}